.title {
  margin-bottom: 20px;
  line-height: 1.5;
  border-bottom: solid;
  border-width: 1px;
  border-color: #e0e0e0;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  width: 20%;
}
